# OS / IDE
.DS_Store
.vscode/
.idea/

# Node / build
node_modules/
dist/
.cache/
.build/
*.log
npm-debug.log*
yarn-error.log

# PHP/Composer (if added later)
vendor/

# WP stuff you probably don't want in a theme repo
*.sql
# If you ever commit from higher up, keep uploads out:
# ../uploads/

# Misc
.env
